<% title _('Geyser - Information about the project') %>

<div id='main-content'>
  <div class='header'><%= _('Project Geyser') %></div>
  <p class='break' style='text-align: justify'>
    <br>
    <span class='news-text'>
<%= _("<b>Geyser</b> project is an attempt to create analytic site for developers and users of
Alt repositories.<br><br>

It is useful for developers due to ability to more closely interoperate with other
developers and users of respective packages.  This site is especially valueable
to new ALT Linux Team members. It gives answers \"who is who\", \"who does what\",
\"what status is\" in interesting field.<br><br>

Sisyphus users can get full information about a package beforehand. There are
handy links (site of origin, ALT specific issues, wiki, etc.).<br><br>

The project is useful for BaseALT SPO Ltd. and ALT Linux Team too, as it gives
information about Sisyphus development, strong and weak aspects, actively
supported and used groups of packages.<br><br>

Another nice property of the project is posibility to use it together with
any other package repository snapshot (not only Sisyphus itself), for local
development within a small group or even one's self.<br><br>

The <a class='news' href='https://github.com/altlinux/geyser'>Geyser</a> project is based on code from <a class='news' href='https://github.com/biow0lf/prometheus2.0'>Prometheus2.0</a>, which had been made available under the <a class='news'href='https://en.wikipedia.org/wiki/MIT_License'>MIT License.</a>").html_safe %>
    </span>
  </p>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
