<% title _('Prometheus 2.0 - Groups') %>

<div id='main-content'>
  <div class='header'><%= _('Package groups') %></div>
  <p class='break'></p>

  <div style='font-size: 12pt;'>
    <%= render partial: "shared/groups", locals: { parent: nil, branch_groups: @branch_groups } %>
  </div>
</div>

<div id='bottom-offset-l'>
  <div id='bottom-offset-r'>
    &nbsp;
  </div>
</div>
